<div class="content" (click)="setToReady()">

  <div (click)="setToEditable()">
    <div 
    [ngClass]="{hidden: isEditable}" class="timer">
      <div class="timer-display timer-text">
        {{ minutes | number: '2.0' }}<span>m</span> {{ seconds | number: '2.0' }}<span>s</span>
      </div>
    </div>  
  
    <div [ngClass]="{hidden: !isEditable}" class="timer timer-editable">
      <div class="timer-field">
        <input
        class="timer-text"
        type="number"
        (keydown)="validateInput($event)"
        [placeholder]="minutesPlaceholder"
        [value]="minutesVal"
        #minuteField>
      </div>
  
      <div class="timer-field">
        <input
        class="timer-text"
        type="number"
        (keydown)="validateInput($event)"
        [placeholder]="secondsPlaceholder"
        [value]="secondsVal"
        #secondField>
      </div>
  
    </div>
  </div>
  

  <div class="buttons">
    <button 
    *ngIf="!isCounting" 
    mat-raised-button color="primary" 
    (click)="startCountdown()"
    [disabled]="emptyFields">Start</button>
    <button *ngIf="isCounting" mat-raised-button color="primary" (click)="stopCountdown()">Stop</button>
    <button mat-raised-button color="warn" (click)="resetTimer()">Reset</button>
  </div>
</div>